{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Bienvenue  ✅</h1>

    <h2></h2>
    <a href="{{ path('security_registration') }}" > <button class="btn btn-danger">Inscription</button></a>
    <a href="{{ path('security_login') }}" > <button class="btn btn-success">Connexion</button></a>

</div>
{% endblock %}
